DB_HOST=db
DB_PORT=3306
REDIS_CACHE=redis-cache:6379
REDIS_QUEUE=redis-queue:6379
SOCKETIO_PORT=9000

# Security Defaults - MUST BE CHANGED IN PRODUCTION
DB_ROOT_PASSWORD=doorli_erp_root_db_pass
ADMIN_PASSWORD=doorli_erp_admin_pass

# Site configuration
FRAPPE_SITE_NAME_HEADER=enterprise.doorli.com
